<mat-card class="profile">
	<h1 class="mat-h2 title">Guía y manuales</h1>
	<ul>
		<li>
			<a href="https://drive.google.com/file/d/1ufqZ_ft0uju_Zo9EXrT6TWAXnZE_Wz4c/view?usp=sharing" target="_blank"
				rel="noreferrer noopener">Manual de usuario</a>
		</li>
		<li>
			<a href="https://drive.google.com/file/d/1ufqZ_ft0uju_Zo9EXrT6TWAXnZE_Wz4c/view?usp=sharing" target="_blank"
				rel="noreferrer noopener">Manual técnico</a>
		</li>
		<li>
			<a href="https://drive.google.com/file/d/1SDhk-zCerXG_qFXQsyhvYf_VxNmi4Nhg/view?usp=sharing" target="_blank"
				rel="noreferrer noopener">Guía práctica</a>
		</li>
	</ul>
</mat-card>