
  <mat-card class="profile">
    <div>
      <h1 class="mat-h2 title">Nombre:</h1>
      <span>Juan Pablo Gómez</span>
    </div>
    <div style="margin-top: 40px;">
      <h3 class="mat-h2 title">Cédula:</h3>
      <span>1039452223</span>
    </div>
  </mat-card>
  <mat-card class="profile">
    <div>
      <h1 class="mat-h2 title" color="primary">Nombre:</h1>
      <span>Juan Sebastian Ramirez</span>
    </div>
    <div style="margin-top: 40px;">
      <h3 class="mat-h2 title">Cédula:</h3>
      <span>10654352223</span>
    </div>
  </mat-card>

